.link-button {
	color:#2bc0c1;
	text-transform: uppercase;
	display: inline-block;
	margin: 10px 20px;
	border: 2px solid #2bc0c1;
	border-radius: 30px;
	padding: 17px 50px;
	font-size: 1.25em;
}

.link-button:hover, .link-button:focus { 
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	background: #2bc0c1;
	transition: 1s;
}

.developer:hover {
	text-shadow: 1px 1px 7px #FFF;
	cursor: pointer;
	color: #fff;
}

.panel-title, .panel-body {
	font-family: 'Open Sans Condensed', sans-serif;
}

.panel-group {
	margin: 30px 100px 30px 100px;
}
.panel-body {
  	text-align: justify;
}

.popover-content, .popover-title {
	color: #484545;
	text-align: center;
}

 .panel-heading:hover {
 	background: #f5f5f5;
 	transition: 0.3s;
 }

 /* Green */

.link_btn.green {
	background: transparent;
	border-color: rgb(47,177,180);
	color: rgb(47,177,180);
}

.link_btn {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	color: rgb(47,177,180);
	transition: 0.6s;
	padding: 10px 15px;
	border-radius: 100px;
	border: 2px solid rgb(47,177,180);
	transition: 0.3s;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
}

.link_btn:hover {
	background: rgb(47,177,180);
	border-color: #fff;
	text-decoration: none;
}

.link_btn.green:hover {
	background: rgb(47,177,180);
	border-color: #fff;
	color: #fff;
}

/* Price */

.link_btn.price {
	background: transparent;
	border-color: #fff;
	color: #fff;
	position: relative;
	z-index: 1;
}

.link_btn.price:hover {
	background: #fff;
	color: #39B4B3;
}