.content {
	padding: 100px 0;
}

/*Backgrouns*/

.content.bg_one {
	background:  url('../img/ready.jpg') no-repeat center center;
	background-size: cover;
}

/*Text colors*/

.tx_white {
	color: #fff;
}

.testimonials {
	font-size: 19px;
	font-family: 'Dancing Script', cursive;
	line-height: 30px;
	letter-spacing: 1.5px;
	padding-top: 20px;
}

.tx_dark {
	color: #000;
}

/*Text Controls*/

.tx_center {
	text-align: center;
}

/* Block Control*/

.b_center {
	margin-left: auto;
	margin-right: auto;
}

.flex {
	 display: flex;
}
	
	/*Video link*/

#video-link:hover {

text-decoration: none;
}

.border-box {
	overflow: visible;
	}

}
.bg_margin {
	padding: 250px 0;
}

.content .header h2 {
	font-size:3em;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 30px;
	text-transform: uppercase;
	position: relative;
}

.content .header h2:after {
	content: '';
	height: 2px;
	width: 190px;
	display: block;
	background: #333;
	margin: 20px auto;
}

.content p, {
	max-width:650px;
	display: block;
	margin: 0 auto 70px auto;
	z-index: 1;
	text-align: center;
	line-height: 1.2em;
}

ul {
	max-width:650px;
	display: block;
	margin: 0 auto 70px auto;
	z-index: 1;
	text-align: center;
	line-height: 1.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: justify;
	line-height: 29px;	
	font-size: 1.3em;
	list-style-type: none;
}

li span {
	color:#21F8B4;
	font-size: 0.9em;
}

.content.tx_white .header h2:after {
	background: #fff;
}

 .header {
	text-align: right;
}

.content.work {
	background:url('../img/qa.jpg') no-repeat center center;
	background-size: cover;
}

.content.bg_testimonials {
	background:url('../img/image52.jpg') no-repeat top center;
	background-size: cover;
}

/*Controls*/

.controls {
	text-align: center;
}

#team {
	background:url('../img/team_bg.jpg') no-repeat center center;
	background-size: cover;
}
